body, html, .container {
         height: 100%;
    }

.centered { text-align:center; }
.container { padding:0px; width:960px; position:relative; margin:0 auto;}
#container { margin-bottom:100px; margin-top:8px}

.center {
    margin: auto;
    width: 50%;
}

.top-buffer { margin-top:20px; }

/*img {
>>>>>>> Zurück zu altem Design
    z-index: 10;
    position: relative;
    display: block;
}*/

a {
    color: 	#4B0082;
    text-decoration: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.navbar-default {
    background-color: #1A1438;
    border-color: #1A1438;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-brand {
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: grey;
    background-color: transparent;
}

.navbar .brand {
max-height: 40px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 2px 15px 8px; }

.q {
    float: left;
    background: yellow;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

p.blocktext {
	margin-left: auto;
    margin-right: auto;
    width: 6em
}

.btn-custom {
  background-color: hsl(312, 80%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e727c0", endColorstr="#c515a2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e727c0), to(#c515a2));
  background-image: -moz-linear-gradient(top, #e727c0, #c515a2);
  background-image: -ms-linear-gradient(top, #e727c0, #c515a2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e727c0), color-stop(100%, #c515a2));
  background-image: -webkit-linear-gradient(top, #e727c0, #c515a2);
  background-image: -o-linear-gradient(top, #e727c0, #c515a2);
  background-image: linear-gradient(#e727c0, #c515a2);
  border-color: #c515a2 #c515a2 hsl(312, 80%, 40.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.dark_button{
	background-color: #f97220;
	padding: 5px 10px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #e3e3e3 !important;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.dark_button:hover {
   border-top-color: #4f4f4f;
   background: #4f4f4f;
   color: #ccc;
   text-decoration:none;
   }
.dark_button:active {
   border-top-color: #4a4a4a;
   background: #4a4a4a;
   }


.width-150px{
    width: 100%;
    display: inline-block;
}

/* =Headings
--------------------------------------------------------------------------------------------------------*/
h2, h3, h4 { line-height:1.5; letter-spacing:-2px; color:#fff; }
h2 { font-size:30px; padding:30px 40px 19px 40px; }
.col1-3 h2 { padding:17px 20px 0px 20px; font-size:28px; text-transform:none }
.col2-3.single-post h2 { padding:43px 40px 24px 40px; line-height:62px; }
h3 { font-size:22px; padding:47px 30px 21px 30px; letter-spacing:-1px; line-height:36px; }
h3 a {color:#fff; text-decoration:none}
h3 a:hover {color:#fff; text-decoration:underline}
h3.blockquote { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight:normal; font-size:26px; clear:both }
/* End Headings
--------------------------------------------------------------------------------------------------------*/

.borderline {width:100%; background:#63615f; border-top:1px solid #4d4b4a; height:1px; }
.borderline.margin-bottom {margin-bottom:11px; }
.borderline.margin-top {margin-top:30px; }

/* =Lists
--------------------------------------------------------------------------------------------------------*/
.mainpage-lists {
    list-style-image: url(../img/bg-check.png);
    color: white;
    padding-top: 10px;
}
/* =End Lists
--------------------------------------------------------------------------------------------------------*/

.col2-3 p { padding:14px 50px 50px 40px; position:absolute; bottom:0; }
.col2-3.single-post p { padding:20px 50px 0px 40px; position:relative; }
.col1-3 p { font-size:20px; padding:0px 30px 21px 30px; position:absolute; bottom:0; }
.col1-3.colored p, .col1-3 .infos p {font-size:18px; text-align:center; padding:16px 60px 0px 60px; position:relative; color:#fff; }
.col1-3 .infos p {color:#595755; font-weight:bold; }
.col1-3 .infos p span {color:#595755; font-size:11px;}
.col1-1 p.blockquote { padding:20px 80px 0px 80px; }
.col1-3.colored p span {color:#fff; }
.col1-3.colored a {color:#fff; }
.col1-3 .infos p a {color:#595755; text-decoration:underline; }
.col1-3.colored a:hover {color:#fff; }
.col1-3 .infos p a:hover {color:#595755; text-decoration:none; }

/* .col1-1 { width:940px; margin:10px; background:#595755;}*/
.col1-1 { width:940px; margin:10px;}
.col1-3 { width:300px; height:300px; margin:10px; float:left; background:#595755; }
.col2-3 { width:620px; height:300px; margin:10px; float:left; background:#595755; }
.no-bg {background:none; }
.col1-1.borders {width:938px; border:1px solid #ddd; background:#fff; }
.col1-3.borders {width:298px; height:298px; border:1px solid #ddd; background:#fff; }
.col2-3.borders {width:618px; height:298px; border:1px solid #ddd; background:#fff; }
.col2-3.double { width:618px; height:618px; border:1px solid #ddd; background:#fff; }
.col2-3.single-post { margin:10px; background:#595755; height:auto !important;}
.col1-3.colored {background: #f97220; }
.col1-3.colored.web {background:#1A1438; }
.col1-3.colored.programming {background:#22185E; }
.col1-3.colored.testing {background:#28214F; }
.col2-3.colored.web {background:#1A1438; }
.col2-3.colored.programming {background:#22185E; }
.col2-3.colored.testing {background:#28214F; }

.leftContent {
    width: 100%;
    float: left;
    /*min-height: 400px;*/
    padding-left: 5px;
        margin-bottom: 20px;
}

.headerCourseBanner {
    background-image: url(../img/header-banner-course.png);
    background-repeat: no-repeat;
    margin: 8px 0 0 -8px;
    width: 456px;
    height: 25px;
    font-size: 13px;
    color:#FFF;
    padding: 7px 0 0 15px;
}

.contentHeader {
    width: 100%;
    min-height: 230px;
    /*border-style: solid;
    border-color: #a1aab1;
    border-width: 1px;*/
}

/* =Courses
--------------------------------------------------------------------------------------------------------*/
.course-calendar { background: url(../img/filter_page_image_sprite.png) 0 -48px;width:16px; height:16px; }
.course-location { background: url(../img/location_small.png); width:16px; height:16px;  }
.course-level-Beginner { background: url(../img/filter_page_image_sprite.png) 0 -12px;width:36px; height:12px; }
.course-level-Intermediate { background: url(../img/filter_page_image_sprite.png) 0 -24px;width:36px; height:12px; }
.course-level-All { background: url(../img/filter_page_image_sprite.png) 0 0px;width:36px; height:12px; }
.cours-details-top{
         background-color: #aa0000;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
}

.cours-details-bottom{
    background-color: #aa0000;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cours-details-both{
    background-color: #aa0000;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

/* End Courses
--------------------------------------------------------------------------------------------------------*/

/* Control-Background Carousels */
/*.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(231, 52, 14, 0.0001) 0%, rgba(12, 6, 105, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(231, 52, 14, 0.0001) 0%, rgba(12, 6, 105, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(231, 52, 14, 0.0001) 0%, rgba(12, 6, 105, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(12, 6, 105, 0.5) 0%, rgba(231, 52, 14, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(12, 6, 105, 0.5) 0%, rgba(231, 52, 14, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(12, 6, 105, 0.5) 0%, rgba(231, 52, 14, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}*/

 .carousel-inner > .item > img,
          .carousel-inner > .item > a > img {
              margin: auto;
          }

.accordion-title{
	font-weight: bold; 
	letter-spacing: 1px;
}

/* Kurstage */
table.kurstage                    { width:525px; font-size:12px; border-bottom:1px solid black; }
table.kurstage th                 { background-color:grey;font-size:13px; }
table.kurstage td                 { border-style:solid; border-color:black; border-width:1px 0px 0px 0px; }
tr.kurstage                       {}
tr.kurstage.alt                   { background-color:#C5C6C8; }

.embed-container { 
        position: relative; 
        padding-bottom: 100%; 
        height: 0; 
        overflow: hidden; 
        max-width: 100%; 
        min-height: 100%; 
}

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}


:hov


.cls

element.style {
}
div#mainInner h2 {
    color: #575759;
    padding: 0;
}
h1.csc-firstHeader {
    font-size: 22px;
    color: #575759;
    padding: 0px 0 5px 0px !important;
    margin: 0;
}

.btn-gplus {
    background-color: #DD4B39;
    color: #fff!important;
}