

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.navbar-default {
    background-color: #1A1438;
    border-color: #1A1438;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-brand {
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: grey;
    background-color: transparent;
}

.centered { text-align:center; }
.container { padding:0px; width:960px; position:relative; margin:0 auto;}
#container { margin-bottom:100px; margin-top:8px}

/* =Headings
--------------------------------------------------------------------------------------------------------*/
h2, h3, h4 { line-height:1.5; letter-spacing:-2px; color:#fff; }
h2 { font-size:30px; padding:30px 40px 19px 40px; }
.col1-3 h2 { padding:17px 20px 0px 20px; font-size:28px; text-transform:none }
.col2-3.single-post h2 { padding:43px 40px 24px 40px; line-height:62px; }
h3 { font-size:22px; padding:47px 30px 21px 30px; letter-spacing:-1px; line-height:36px; }
h3 a {color:#fff; text-decoration:none}
h3 a:hover {color:#fff; text-decoration:underline}
h3.blockquote { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight:normal; font-size:26px; clear:both }
/* End Headings
--------------------------------------------------------------------------------------------------------*/

.borderline {width:100%; background:#63615f; border-top:1px solid #4d4b4a; height:1px; }
.borderline.margin-bottom {margin-bottom:11px; }
.borderline.margin-top {margin-top:30px; }

/* =Lists
--------------------------------------------------------------------------------------------------------*/
.mainpage-lists {
    list-style-image: url(../img/bg-check.png);
    color: white;
    padding-top: 10px;
}
/* =End Lists
--------------------------------------------------------------------------------------------------------*/

.col2-3 p { padding:14px 50px 50px 40px; position:absolute; bottom:0; }
.col2-3.single-post p { padding:20px 50px 0px 40px; position:relative; }
.col1-3 p { font-size:20px; padding:0px 30px 21px 30px; position:absolute; bottom:0; }
.col1-3.colored p, .col1-3 .infos p {font-size:18px; text-align:center; padding:16px 60px 0px 60px; position:relative; color:#fff; }
.col1-3 .infos p {color:#595755; font-weight:bold; }
.col1-3 .infos p span {color:#595755; font-size:11px;}
.col1-1 p.blockquote { padding:20px 80px 0px 80px; }
.col1-3.colored p span {color:#fff; }
.col1-3.colored a {color:#fff; }
.col1-3 .infos p a {color:#595755; text-decoration:underline; }
.col1-3.colored a:hover {color:#fff; }
.col1-3 .infos p a:hover {color:#595755; text-decoration:none; }

.col1-1 { width:940px; margin:10px; background:#595755;}
.col1-3 { width:300px; height:300px; margin:10px; float:left; background:#595755; }
.col2-3 { width:620px; height:300px; margin:10px; float:left; background:#595755; }
.no-bg {background:none; }
.col1-1.borders {width:938px; border:1px solid #ddd; background:#fff; }
.col1-3.borders {width:298px; height:298px; border:1px solid #ddd; background:#fff; }
.col2-3.borders {width:618px; height:298px; border:1px solid #ddd; background:#fff; }
.col2-3.double { width:618px; height:618px; border:1px solid #ddd; background:#fff; }
.col2-3.single-post { margin:10px; background:#595755; height:auto !important;}
.col1-3.colored {background: #f97220; }
.col1-3.colored.web {background:#1A1438; }
.col1-3.colored.programming {background:#22185E; }
.col1-3.colored.testing {background:#28214F; }
.col2-3.colored.web {background:#1A1438; }
.col2-3.colored.programming {background:#22185E; }
.col2-3.colored.testing {background:#28214F; }

.button {
  font: 16px 'Ruda', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:400; color:#b8b8b8; letter-spacing:-1px;;
  text-decoration: none;
  background-color: #f97220;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.leftContent {
	width: 100%;
	float: left;
	/*min-height: 400px;*/
	padding-left: 5px;
        margin-bottom: 20px;
}

.headerCourseBanner {
	background-image: url(../img/header-banner-course.png);
	background-repeat: no-repeat;
	margin: 8px 0 0 -8px;
	width: 456px;
	height: 25px;
	font-size: 13px;
	color:#FFF;
	padding: 7px 0 0 15px;
}

.contentHeader {
	width: 100%;
	min-height: 230px;
	/*border-style: solid;
	border-color: #a1aab1;
	border-width: 1px;*/
}

/* =Courses
--------------------------------------------------------------------------------------------------------*/
.course-calendar { background: url(../img/filter_page_image_sprite.png) 0 -48px;width:16px; height:16px; }
.course-level-Beginner { background: url(../img/filter_page_image_sprite.png) 0 -12px;width:36px; height:12px; }
.course-level-Intermediate { background: url(../img/filter_page_image_sprite.png) 0 -24px;width:36px; height:12px; }
.course-level-All { background: url(../img/filter_page_image_sprite.png) 0 0px;width:36px; height:12px; }
.cours-details-top{
         background-color: #aa0000;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-bottomright: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
}

.cours-details-bottom{
    background-color: #aa0000;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cours-details-both{
    background-color: #aa0000;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

/* End Courses
--------------------------------------------------------------------------------------------------------*/

/* =Footer
--------------------------------------------------------------------------------------------------------*/
footer:before {content:''; height:0; width:0; border-width:12px 12px 12px 12px; border-style:solid; border-color:rgba(36,37,39,0) rgba(36,37,39,0) #595755 rgba(36,37,39,0); position:absolute; top:-24px; left:50%; margin-left:-12px; }
footer { background:#595755; width:100%; height:180px; margin:0px 0px 0 0px; padding:50px 0 0 0px; letter-spacing:-1px; position:relative  }
/* End Footer
--------------------------------------------------------------------------------------------------------*/

/* =Social
--------------------------------------------------------------------------------------------------------*/
ul.social { margin-top:25px; margin-bottom:0px; letter-spacing:0; }
.social li { display:inline-block; margin:0px 7px;}
.social li a { display:block; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
ul.social a {text-indent:-9000px; text-decoration:none; height:24px; width:24px;}
.xing {background:url(../img/bg-xing.png) no-repeat; background-size:24px 24px; }
.tweat {background:url(../img/bg-tweat.png) no-repeat; background-size:24px 24px; } 
.google {background:url(../img/bg-googleplus.png) no-repeat; background-size:24px 24px; }
.facebook {background:url(../img/bg-facebook.png) no-repeat; background-size:24px 24px; }
.pinterest {background:url(../img/bg-pinterest.png) no-repeat; background-size:24px 24px; }
.instagram {background:url(../img/bg-instagram.png) no-repeat; background-size:24px 24px; }
.vimeo {background:url(../img/bg-vimeo.png) no-repeat; background-size:24px 24px; }
.skype {background:url(../img/bg-skype.png) no-repeat; background-size:24px 24px; }
.dribble {background:url(../img/bg-dribble.png) no-repeat; background-size:24px 24px; }
/* End Social
--------------------------------------------------------------------------------------------------------*/

/* =Backtotop
--------------------------------------------------------------------------------------------------------*/
#backtotop { height:auto; position:fixed; right:30px; bottom:30px; display:none; z-index:30; }
#backtotop ul { padding:15px 0px; }
#backtotop ul li a { background:url(../img/bg-up.png) center 48% no-repeat #f97220; background-size:22px 15px; display:block; width:50px; height:50px; float:right; right:10px; text-indent:-9000px; -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.1); -moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.1); box-shadow:0 0 30px rgba(0, 0, 0, 0.1);}
#backtotop ul li a:hover { -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0); -moz-box-shadow:0 0 30px rgba(0, 0, 0, 0); box-shadow:0 0 30px rgba(0, 0, 0, 0); }
/* End Backtotop
--------------------------------------------------------------------------------------------------------*/