<div class="element clearfix col1-1 courses-others">
    <p style="font-size: 94%;">
        <a href="index.html#filter=.home"><span>Home</span></a> 
        / 
        <a href="index.html#filter=.courses"><span>Courses</span></a>
        / Others
    </p>  
    <hr/>
    <ul class="list">
        <li>Testing mit JUnit, Mockito, Powermock</li>
        <li>Webtests mit Selenium</li>
        <li>Webtests mit Selenium und Cucumber</li>
        <li>Versionskontrolle mit SVN, Git</li>
        <li>JSF 2.0</li>
        <li>Apache Solr</li>
    </ul>                    
</div>