<div class="element clearfix col2-3 contact" style="margin-top: 80px;">
    <h2>Contact Us</h2>
    <div class="borderline"></div>
    <p>22 Miron Drive, New York City, 12603 NY<br />
        <a href="mailto:hello@domain.com">info@service-advisor.co</a><br />
        (845) 123 4567</p>
</div>


<div class="element clearfix col2-3 double contact" style="margin-top: 80px;">
    <div class="images">
        <div id="map"></div>
    </div>
</div>


<div class="element clearfix col1-3 border contact no-padding" style="margin-top: 80px;">
    <div id="contact">
        <div id="message"></div>
        <form method="post" action="contact.php" name="contactform" id="contactform" autocomplete="off">
            <fieldset>
                <div class="alignleft padding-right">
                    <label for="name" accesskey="U"><span class="required">Name</span></label>
                    <input name="name" type="text" id="name" size="30" title="Name" />
                    <label for="email" accesskey="E"><span class="required">Email</span></label>
                    <input name="email" type="text" id="email" size="30" title="Email" />
                </div>
                <label for="comments" accesskey="C"><span class="required">Comments</span></label>
                <textarea name="comments" cols="40" rows="3" id="comments" title="Comment"></textarea>
                <input type="submit" class="submit" id="submit" value="Submit" onFocus="if (this.blur)
                            this.blur()" />
            </fieldset>
        </form>
    </div>
</div>