<table class="kurstage">
    <thead>
        <tr>
            <th class="kurstag_1">
                Datum
            </th>
            <th class="kurstag_1">
               Uhrzeit
            </th>
            <th class="kurstag_1">
               Raum
            </th>
            <th class="kurstag_1">
                Ort
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mo. 30.01.2017</td> <td>08:30 - 12:45 Uhr</td>  <td>0.Z.</td>   <td>Löhrstraße 3-7, 04105 Leipzig</td>
        <tr>
        <tr>
            <td>Di. 31.01.2017</td> <td>08:30 - 12:45 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>    
        <tr>
            <td>Mi. 01.02.2017</td> <td>08:30 - 12:45 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Do. 02.02.2017</td> <td>08:30 - 12:45 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
    </tbody>
</table>