<p style="font-size:large;">Lehrplan</p>
<div class="borderline"></div>
<br></br>    

<DL>

<DT><B>Lego MindStorms EV3 Robotics for Absolute Beginners - Learning by Doing.</B></DT>

<!-- DD>Zuletzt aktualisiert am…</DD-->

</DL>

<UL>

<LI>Lektion 1</LI>

<UL>

<LI>Introduction to Lego MindStorms EV3</LI>

</UL>

<LI>Lektion 2</LI>

<UL>

<LI>Building our First LEGO EV3 Robot Botticelli.</LI>

</UL>

<LI>Lektion 3</LI>

</UL>

<DL>

<DT><B>Abschnitt 2</B></DT>

<!-- DD>Zuletzt aktualisiert am…</DD-->

</DL>