<table class="kurstage">
    <thead>
        <tr>
            <th class="kurstag_1">
                Datum
            </th>
            <th class="kurstag_1">
               Uhrzeit
            </th>
            <th class="kurstag_1">
               Raum
            </th>
            <th class="kurstag_1">
                Ort
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fr. 07.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>   
        <tr>
            <td>Mo. 10.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Fr. 14.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Mo. 17.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Fr. 21.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Mo. 24.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Fr. 28.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Mo. 31.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Fr. 04.11.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Mo. 07.11.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <!-- = 10 Unterrichtsstunden a 45 Min. -->
    </tbody>
</table>