<table class="kurstage">
    <thead>
        <tr>
            <th class="kurstag_1">
                Datum
            </th>
            <th class="kurstag_1">
               Uhrzeit
            </th>
            <th class="kurstag_1">
               Raum
            </th>
            <th class="kurstag_1">
                Ort
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Do. 06.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>    
        <tr>
            <td>Sa. 08.10.2016</td> <td>09:00 - 10:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Do. 13.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Sa. 15.10.2016</td> <td>09:00 - 10:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Do. 20.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Sa. 22.10.2016</td> <td>09:00 - 10:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Do. 27.10.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Sa. 29.10.2016</td> <td>09:00 - 11:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Do. 03.11.2016</td> <td>17:00 - 18:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <tr>
            <td>Sa. 05.11.2016</td> <td>09:00 - 11:30 Uhr</td> <td>0.Z.</td>    <td>Löhrstraße 3-7, 04105 Leipzig</td>
        </tr>
        <!-- = 8 Unterrichtsstunden a 45 Min. -->
    </tbody>
</table>