<div class="element clearfix col1-1 courses-kids" ng-controller="CourseSelectionCtrl">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/courses">Kurse</a></li>
      <li class="active">Kinder</li>
    </ol>
    
    <hr style="background-color: #aa0000; height: 2px;" />
    
    <br/>
    <br/>
    <div ng-repeat="course in courses" style="margin-bottom:2px">   
        <div class="leftContent" >
            <div class="contentHeader" >
                <div  class="headerCourseBanner" >
                    {{course.name}}
                </div>
                <div class="clearfixHeader" >
                    <div class="clearfixLeft" style="width: 16%;">
                        <img ng-src="img/{{course.icon}}" style="padding-left: 10px; padding-top: 10px; display: inline-block; max-height: 120px;max-width: 110px;" alt="{{course.name}}"/>
                    </div>
                    <div class="clearfixLeft" style="width: 65%;">
                        <p style="padding-bottom: 2px; padding-top: 10px; padding-right:18px; font-size: 94%; text-align: justify;">{{course.description}}</p>
                        <table>
                            <tr>
                                <td>
                                    <div class="course-calendar" ></div>
                                </td>
                                <td>
                                    <p style="font-size: 94%; margin-top: 10px;margin-left: 5px; margin-right: 10px; ">
                                        <span style="padding-right: 4px;color:black;">{{course.schedule.begin}}</span>
                                        <span style="padding-right: 4px;color:black;">&ndash;</span>
                                        <span style="padding-right: 4px;color:black;">{{course.schedule.end}}</span>
                                        <!-- TODO Uhrzeiten -->
                                        <!-- 6pm -->                                        
                                    </p>
                                </td>
                                <td>
                                    <div class="course-level-{{course.level}}" style="padding-left:6px;" ></div>
                                </td>
                                <td>
                                    <p style="font-size: 94%; margin-top: 10px;margin-left: 10px; ">{{course.level}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="glyphicon glyphicon-map-marker" ></div>
                                </td>
                                <td colspan="3">{{course.place}}</td>
                            </tr>
                        </table>                                 
                    </div>
                    <div class="clearfixLeft" style="width: 19%;">
                        <table style="width: 100%;">
                            <tr>
                                <td colspan="3" width="100%;">
                                 <p style="font-size: large; font-weight: bold; color:black; padding-top: 8px;">{{course.price}} &#8364;</p>
                                </td>
                             </tr>
                            <tr>
                                <td width="45%">
                                    <a class="dark_button width-150px" ng-click='showDetails(course)'>Details</a>
                                </td>
                                <td width="10%">&nbsp;</td>
                                <td width="45%">
                                    <a class="dark_button width-150px" ng-click='registerForCourse(course)'>Anmelden</a>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                </div> 
            </div>
        </div>    

    </div>
</div>