<div class="element clearfix col1-1 courses-study">
    <p style="font-size: 94%;">
        <a href="index.html#filter=.home"><span>Home</span></a> 
        / 
        <a href="index.html#filter=.courses"><span>Courses</span></a>
        / Study
    </p> 
    <hr/> 
    <p>You are planning to study computer sciences ... yeah. Good choices. We are going to prepare you for the first and second semester so that 
        you it will be much more easier for you to survive this part of your studies.</p>
</div>