<div class="element clearfix col1-1 courses-teachers">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/courses">Kurse</a></li>
      <li class="active">Lehrer</li>
     </ol>
     
    <hr style="background-color: #aa0000; height: 2px;" />
    
    <p>Du bist schon Naturwissenschaftslehrer oder du planst Lehramt mit Schwerpunkt Naturwissenschaften zu studieren und eines der Fächer, die du unterrichten
        möchtest ist Informatik, dann findest du vielleicht hier etwas, das dir helfen wird. Wenn die Auswahl nicht genug ist, dann lass uns wissen
        was du gerne lernen möchtest. <a href="#/courses/suggest">Das möchte ich</a>
        </p>
</div>