<div class="modal fade" id="modalAgb" role="dialog" style="width: 50%; margin-left: 30%;">
    <div class="modal-dialog modal-sm" style="width: 100%">
        <div class="modal-content" style="width: 100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AGBs</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
            
                        <h1>Computing-For-Kids Kurse</h1>
                        <p style="font-size: x-large;">Teilnahmebedingungen f&uuml;r CFK-Kurse</p>
                       
						<p>Stand 01.08.2016
						</p>
						
						<ol>
							<li>Anmeldung
							    <ol> 
									<li>Anmeldungen zu unseren Kursen bitten wir Sie bis sp&auml;testens 14 Tage vor Kursbeginn unter Verwendung unseres Anmeldeformulars zu t&auml;tigen. Anmeldungen innerhalb der letzten 14 Tage k&ouml;nnen nur ber&uuml;cksichtigt werden, wenn noch eine gen&uuml;gende Anzahl von Pl&auml;tzen verf&uuml;gbar ist.
									</li>
									<li>Telefonische An- und Abmeldungen k&ouml;nnen wir nur ber&uuml;cksichtigen, wenn diese unverz&uuml;glich schriftlich (bzw. per Fax) best&auml;tigt werden. 
									</li>
									<li>Mit der Anmeldung erkennen Sie die Teilnahmebedingungen an. Sie erhalten von uns eine schriftliche Best&auml;tigung Ihrer Anmeldung. 
									</li>
									<li>Wir behalten uns das Recht vor, Kurse bei zu geringer Nachfrage sp&auml;testens eine Woche vor Kursbeginn zu verschieben oder abzusagen. Wir verpflichten uns, die betroffenen Kursteilnehmer umgehend zu informieren. Bei Ausfall des Kurses aufgrund von Krankheit des Lehrers, h&ouml;herer Gewalt oder sonstiger unvorhersehbarer Ereignisse besteht kein Anspruch auf Durchf&uuml;hrung. Das Computing-For-Kids Team haftet in solchen F&auml;llen nicht f&uuml;r entstandene Kosten f&uuml;r Reise, &uuml;bernachtung oder dergleichen. 
									</li>
									<li>Wird der Kurs ersatzlos abgesagt, verpflichten wir uns, bereits geleistete Zahlungen umgehend zur&uuml;ckzuerstatten. Wird der Kursbeginn verschoben, so werden geleistete Zahlungen auf diesen Kurs angerechnet. Wird der Kurs auf einen Termin verschoben, an dem der Teilnehmer verhindert ist, verpflichten wir uns, geleistete Zahlungen umgehend zur&uuml;ckzuerstatten. Der Teilnehmer hat in diesem Fall seine Verhinderung schriftlich anzuzeigen. 
									</li>
								</ol>
						      </li>  
						
						      <li>Zahlungsbedingungen/Verzug
								<ol>
									<li>Alle Preise verstehen sich zuz&uuml;glich der gesetzlichen Mehrwertsteuer. 
									</li>
									<li>Die Rechnungsstellung erfolgt nach Anmeldung. Die in der Rechnung ausgewiesene Teilnehmergeb&uuml;hr ist sofort nach Zugang der  Rechnung zur Zahlung f&auml;llig.
									</li>
									<li>Im Verzugsfalle hat der Teilnehmer die gesetzlichen Verzugszinsen zu zahlen. Die Geltendmachung dar&uuml;ber hinausgehenden Schadens bleibt vorbehalten.
									</li>
									<li>Die Kursgeb&uuml;hren umfassen die Durchf&uuml;hrung des Kurses, Kursunterlagen, Nutzung der technischen Einrichtungen f&uuml;r Unterrichtszwecke und Pausengetr&auml;nke.  
									</li>
									<li>Die jeweils angegebene Kursgeb&uuml;hr bezieht sich auf den Kurs, so wie er im Programm beschrieben ist. Bei &auml;nderung der Kursdauer behalten wir uns eine Preis&auml;nderung vor. Die &auml;nderung wird den Teilnehmern unverz&uuml;glich, sp&auml;testens jedoch eine Woche vor Kursbeginn mitgeteilt. F&uuml;r diesen Fall wird dem Teilnehmer die M&ouml;glichkeit einger&auml;umt, von der Teilnahme an dem Kurs Abstand zu nehmen. Die Erkl&auml;rung hat schriftlich zu erfolgen. Eine Angabe von Gr&uuml;nden ist nicht erforderlich. Wir verpflichten uns f&uuml;r diesen Fall, bereits geleistete Zahlungen umgehend zur&uuml;ckzuerstatten. 
									</li>
									<li>Besucht der Teilnehmer nicht den gesamten gebuchten Kurs, f&auml;llt gleichwohl die volle H&ouml;he der Kursgeb&uuml;hr an. 
									</li>
								</ol>
							  </li>	
							   
							  <li>R&uuml;cktritt und Umbuchung
							     <ol>
									<li>Die Stornierung und/oder Umbuchung einer Kursanmeldung muss schriftlich erfolgen. Stornierungen und Umbuchungen eines Teilnehmers bis 2 Wochen vor Seminarbeginn sind kostenlos. 
									</li>
									<li>Bei R&uuml;cktritt oder Umbuchung innerhalb der letzten 2 Wochen vor Seminarbeginn wird der volle Seminarpreis f&auml;llig. Nach vollst&auml;ndiger Zahlung des Seminarpreises erh&auml;lt der angemeldete Teilnehmer in diesem Fall einen Gutschein &uuml;ber 50 % des Seminarpreises mit einem Jahr G&uuml;ltigkeit. Zur Einl&ouml;sung ist dieser Gutschein gleichzeitig mit einer erneuten Anmeldung einzureichen. Nimmt der angemeldete Teilnehmer ohne Stornierung oder Umbuchung an dem Kurs nicht teil, so wird der ungek&uuml;rzte Rechnungsbetrag zur Zahlung f&auml;llig. In diesem Fall kann kein Gutschein ausgestellt werden.
									</li>
									<li>Ist der Teilnehmer zu dem vereinbarten Kurstermin verhindert, so ist er berechtigt, jederzeit an seiner Statt einen Ersatzteilnehmer zu benennen. Es fallen hierf&uuml;r keine zus&auml;tzlichen Kosten an. 
									</li>
								</ol>
							   </li>  	
								
								<li>Haftung
								    <ol>
										<li>Das CFK-Team haftet im Rahmen dieses Vertrages unbeschr&auml;nkt f&uuml;r vors&auml;tzliche und grob fahrl&auml;ssige Pflichtverletzungen ihrer gesetzlichen Vertreter und sonstigen Erf&uuml;llungsgehilfen nach den gesetzlichen Regelungen.
										</li>
										<li>F&uuml;r leichte Fahrl&auml;ssigkeit haftet CFK-Team nur, sofern eine Pflicht verletzt wird, deren Einhaltung f&uuml;r die Erreichung des Vertrageszwecks von besonderer Bedeutung ist (Kardinalpflicht) und dabei nur f&uuml;r vorhersehbare Sch&auml;den, mit deren Entstehung typischerweise gerechnet werden muss. Die Haftung f&uuml;r leichte Fahrl&auml;ssigkeit im &uuml;brigen ist ausgeschlossen.
										</li>
										<li>Die Haftung f&uuml;r Schadensersatz nach 4.2 ist summenm&auml;&szlig;ig auf das Doppelte der Teilnahmegeb&uuml;hr beschr&auml;nkt. 
										</li>
										<li>F&uuml;r Sch&auml;den, die der Teilnehmer im Zusammenhang mit dem Kursbesuch verursacht, haftet er nach den gesetzlichen Bestimmungen.
										</li>
									</ol>
							    </li>
							    
							    <li>Aufrechnung/Zur&uuml;ckbehaltung
							     <ol>
									<li>5.1 Der Teilnehmer ist zu Aufrechungen gegen&uuml;ber dem CFK-Team nur berechtigt, soweit seine Gegenanspr&uuml;che rechtskr&auml;ftig festgestellt oder unbestritten sind. 
									</li>
									<li>5.2 Die Geltendmachung von Zur&uuml;ckbehaltungsrechten aus anderen, als aus auf dem der jeweiligen Teilnahme zugrunde liegenden Vertragsverh&auml;ltnis beruhenden Anspr&uuml;chen ist ausgeschlossen. 
									</li>
								 </ol>	
							    </li>
						
						      <li>Schlussbestimmungen
						        <ol>
									<li>6.1 &auml;nderungen und Erg&auml;nzungen dieser Vereinbarung bed&uuml;rfen der Schriftform. Das gilt auch f&uuml;r eine Aufhebung oder Ab&auml;nderung dieses Schriftformerfordernisses. Sofern Schriftform vereinbart ist, gen&uuml;gen elektronische oder Textform dieser nicht.
									</li>
									<li>6.2 Mitarbeiter der ARS sind zum Abschluss/&auml;nderung oder Aufhebung vertraglicher Vereinbarungen nicht berechtigt. Eine von den im Auftragsformular und den vorliegenden allgemeinen Gesch&auml;ftsbedingungen abweichende Vereinbarung kann ARS daher nur gegen sich gelten lassen, wenn diese durch die gesetzlichen Vertreter der ARS schriftlich best&auml;tigt wurde.
									</li>
									<li>6.3 Die Vereinbarung unterliegt dem Recht der Bundesrepublik Deutschland unter Ausschluss von UN- Kaufrecht.
									</li>
									<li>6.4 Als Gerichtsstand f&uuml;r s&auml;mtliche aus und im Zusammenhang mit dieser Vereinbarung sich ergebenden Streitigkeiten wird der Sitz der ARS vereinbart.
									</li>
								</ol>
							  </li>         
                         </ol>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a class="dark_button" style="float: right;" data-dismiss="modal">Gelesen</a>
                    </div>
                 </div>   
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>