<div class="element clearfix col1-1 courses">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li class="active">Kurse</li>
     </ol>
     
    <hr style="background-color: #aa0000; height: 2px;" />
    
    <h1>Kurs-&Uuml;bersicht</h1>

    <p>Du möchtest etwas COOLLES, neues lernen, dann schau dir unsere Kurse an. Wenn die Auswahl nicht genug ist, dann lass uns wissen
        was du gerne lernen möchtest. <a href="#/courses/suggest">Das möchte ich</a>
    </p>

    <ul>
        <li><a href="#/courses/kids">Kinder</a></li>
        <li><a href="#/courses/teachers">Lehrer</a></li>
        <li>Erwachsene</li>     
    </ul>

</div>