<div class="element clearfix col1-1 courses">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li class="active">Kurse</li>
     </ol>
     
    <hr style="background-color: #aa0000; height: 2px;" />
    
    <h1>Kurs-&Uuml;bersicht</h1>

    <p>Du m&ouml;chtest etwas COOLES, neues lernen, dann schau dir unsere Kurse an. Wenn die Auswahl nicht genug ist, dann lass uns wissen
        was du gerne lernen m&ouml;chtest. <a href="#/courses/suggest">Das will ich</a>
    </p>

    <ul>
        <li><a href="" ng-click='listCourses()' ng-controller="CoursesCtrl">Kinder</a></li>
        <li><a href="">Lehrer</a></li>
        <!-- li>Erwachsene</li-->     
    </ul>

</div>