<style>
@page { size: auto;  margin: 0mm; }
</style>
<div id="content" ng-controller="BillCtrl">
    {{course}}
	<div style="background-color:white;font-size: 72.5%; font-family: Helvetica, sans-serif;">
	    <table style="width: 100%; margin-left:80px;background-color: red;" >
	        <tr>
	            <td colspan="2" align="center">
	                <img src="img/logos/big/logo_four.png" alt="" width="140px;" height="54px;" style="margin-left: 150px;"/>
	                <br><br>
	             </td>
	        </tr>
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>               
			</tr> 
			<tr>
			  <td width="67%"
			      ><span style="font-size: 65%;text-decoration: underline;">
			        sotope · Isotope Demo · 1 Isotope Lane · 01027 · Easthampton
			      </span><br>
			      <br>
			      Kirsten Roschanski
			      <br>
			      Alsenstraße 17
			      <br>
			      42103 Wuppertal
			      <br>
			      USA
			      <br><br><br><br><br
			    ><table style="width: 100%;" >  
			    <tr>        
			      <td width="20%"><strong>Betreff:</strong></td>          
			      <td width="80%">Kursbuchung</td>  
			    </tr>
			    <tr>        
			      <td width="20%"><strong>&nbsp;</strong></td>          
			      <td width="80%">&nbsp;</td>  
			    </tr>
			    </table>
			   </td>
			  <td width="3%" style="border-left: 1px solid #000;"></td>
			  <td width="40%"><span style="font-size: 100%;font-weight: bold;">Rechnung</span><br>
			      <br>
			      Kundennummer: -
			      <br>
			      <br>
			      Bestelldatum: 2012-12-02
			      <br>
			      Rechnungsnummer: 0003
			      <br>
			      Datum: 2012-12-26<br>
			  </td>
			</tr> 
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>               
			</tr>  
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>               
			</tr> 
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>               
			</tr> 
			<tr>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>               
			</tr>
		</table>
	    
	    <table style="width: 90%;margin-left:80px;margin-right: 120px;background-color: yellow;">
			 <tr>
			   <td width="15%" ><strong>Position</strong></td>
			   <td width="50%" ><strong>Artikel</strong></td>
			   <td width="10%" ><strong>Menge</strong></td>
			   <td width="15%" ><strong>Einzelpreis</strong></td>
			   <td width="10%" ><strong>Preis</strong></td>                
			 </tr>   
			 <tr>
			   <td style="border-top: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-top: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-top: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-top: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-top: 0.5px solid #000;">&nbsp;</td>
			 </tr>
			 <tr>
			   <td width="15%">KursNr</td>    
			   <td width="50%">Kursname</td>  
			   <td width="10%" align="center">Menge?</td>
			   <td width="15%">EinzelPreis</td>
			   <td width="10%" align="right">Gesamtpreis</td>
			 </tr>
			 <tr>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			 </tr> 
			 <tr>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>                
			 </tr>
			 <tr>    
			   <td colspan="4" align="right">Zwischensumme:</td>  
			   <td align="right">Zwischensumme</td>  
			 </tr>               
			 <!--tr>    
			   <td colspan="4" align="right">??????</td>               
			   <td align="right"><?php echo $surcharge['total_price']; ?></td>  
			 </tr-->
			 <tr>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			 </tr>  
			 <tr>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>
			   <td>&nbsp;</td>                
			 </tr>      
			 <tr>     
			   <td colspan="4" align="right"><strong>Gesamtpreis:</strong></td>                
			   <td align="right"><strong>Gesamtpreis</strong></td>  
			 </tr>  
			 <tr>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			   <td style="border-bottom: 0.5px solid #000;">&nbsp;</td>
			 </tr> 
		</table>
	  <br><br><br>
	</div>
	<div style="background-color:#dcdcdc; width: 100%; padding: 20px 80px; font-size: 72.5%; font-family: Helvetica, sans-serif;">
	    <table style="width: 100%;">  
		    <tr><td colspan="4"></td></tr>
		    <tr>    
		      <td width="10%"></td>             
		      <td width="40%">
		        <strong>Computing-For-Kids</strong><br>
		        Alte Straße 39<br>
		        04229 Leipzig<br>
		        Deutschland<br><br>
		        Telefon: 0176/24008873<br>
		        Email: info@computing-for-kids.de<br>
		      </td>                   
		      <td width="10%"></td> 
		      <td width="40%">
		        <strong>Bank</strong>
		        <br>
		        Deutsche Kredit Bank
		        <br>
		        Konto: 1007512476
		        <br>
		        BLZ 12030000
		        <br> 
		        IBAN XXX
		        <br>
		        BIC-/SWIFT-Code: ABCDEFGHIJ
		        <br>
		        Umsatz-Steuer-ID: 123456789
		      </td>
		    </tr> 
	    </table>  
	</div>
</div>

<button id="printBillBtn">Print</button>

<script>
   $(document).ready(function(){
       $("#printBillBtn").click(function(){
    	   // Beim Drucken Kopf- und Fusszeile deaktivieren
           //var mode = 'iframe'; //popup
           var mode = 'popup'; //popup
           var close = mode == "popup";
           var options = { mode : mode, popClose : close};
           $("#content").printArea( options );
       });
   });
 </script>
