<div class="element col-xs-18 col-sm-10 col-md-12 home" style="margin-top: 80px;">

    <div ng-controller="CarouselDemoCtrl" style="margin-right: 16px;">
        <div style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto; padding-top: 14px;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>

</div>

<div class="element col-xs-18 col-sm-10 col-md-12 home">
    <div class="col-xs-6 col-sm-4" style="background-color: orange;">
	     <h3><a href="#/">Web</a></h3>
	     <div class="borderline"></div>
	     <ul class="mainpage-lists">
	         <li>HTML</li>
	         <li>CSS</li>
	         <li>3D Modellierung</li>
	     </ul>
    </div>
    <div class="col-xs-6 col-sm-4 colored programming" style="background-color: blue;">
	     <h3><a href="#/">Programming</a></h3>
	     <div class="borderline"></div>
	     <ul class="mainpage-lists">
	         <li>Java</li>
	         <li>Javascript</li>
	         <li>Scratch</li>
	     </ul>
    </div>
    <div class="col-xs-6 col-sm-4 colored test" style="background-color: maroon;">
	     <h3><a href="#/">Testing</a></h3>
	     <div class="borderline"></div>
	     <ul class="mainpage-lists">
	         <li>Junit</li>
	         <li>Selenium</li>
	         <li>Selenium and Cucumber</li>
	     </ul>
    </div>
</div> 



<div class="element col-xs-18 col-sm-10 col-md-12 home" style="background-color: red;">
1   
    
</div> 
