<!doctype html>
<html>
<head>
<title>Computing for Kids</title>

<link rel="shortcut icon" type="image/ico" href="/img/logos/favicon.ico"/>
<meta name="_csrf" content="XSRF-TOKEN"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>

<link href="css/angular-bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="css/dashboard.css"/>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

<style>
     .clearfixHeader:before,
     .clearfixHeader:after {
         content: " ";
         display: table;
     }
     .clearfixHeader:after {
         clear: both;
     }
     .clearfixHeader {
         *zoom: 1;
     }

     .clearfixLeft {
         float: left;
         width: 33%;
     }
 </style>

</head>
<body ng-app="MapApp">
	
	<div id="container" class="container">			
		
		<nav class="navbar rcorners1">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#/">
		        <img src="img/logos/big/logo_four.png" alt="" width="140px;" height="54px;"/>
		      </a>
		    </div>
		    <div id="navbar" class="navbar-collapse collapse">
		      <ul class="nav navbar-nav">
		        <li class="active">
		            <a href="#/home">Home</a>
		        </li>
		        <li class="dropdown">
		              <a  class="dropdown-toggle" data-toggle="dropdown">Kurse<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu"  ng-controller="CoursesCtrl">
		                <li>
		                    <a href="" ng-click='listCourses()'>Kinder</a>
		                </li>
		                <li>
		                    <a href="">Lehrer</a>
		                </li>
		             </ul>
		        </li>
		        <li>
                    <a href="#/projects">Projekte</a>
                </li>
		        <li>
		            <a href="#/contact">Kontakt</a>
		        </li>		        
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li ng-show="!authenticated"><a id="loginBtn" href="" data-toggle="modal" data-target="#modalLogin">Login</a></li>
		        <li ng-show="authenticated"><a id="logoutBtn" href="" ng-click="logout()" ng-controller="LogoutCtrl">Sign Out</a></li>        
		      </ul>
		    </div>
		  </div>
		</nav>		
		      	   
      	<div ng-view=""></div>
      	
      	<div class="row">
		    <div class="col-md-2"></div>
		    <div class="col-md-8" style="width: 100%;text-align: center;">
		       <div style="display: inline-block;"> 
		           Computing-For-Kids <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		           Andre Goldmann <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		           Alte Stra&szlig;e 39 <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		           04429 Leipzig
		           <br>
		           <a href="#/impressum">Impressum</a>
		       </div>       
		    </div>
		    <div class="col-md-2"></div>
		</div>
      	
      	<div ng-include="'modalLogin.htm'"/>
      	       
    </div>
   
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="js/jquery.printarea.js" type="text/javascript"></script>
    <script src="app/admin/module.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script type="text/javascript">
	   (function(){
		   var p = document.createElement("script");
		   p.type = "text/javascript";
		   p.async = true;
		   p.src = "https://apis.google.com/js/client.js?onload=loadGoolgeApi";
		   var s = document.getElementsByTagName("script")[3];
		   s.parentNode.insertBefore(p, s);		   
	   })();
	</script>
	
</body>
</html>