<div class="modal fade" id="modalLogin" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<div id='loginAlert'></div>
				<form role="form" ng-submit="login()" style="margin-bottom: 10px;" ng-controller="LoginCtrl")>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="form-group">
						<label for="username">Login:</label> <input type="text"
							class="form-control input-sm" id="username" name="username" ng-model="credentials.userName"/>
					</div>
					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							class="form-control input-sm" id="password" name="password" ng-model="credentials.password"/>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-sm" style="float: right;" id="submitLoginBtn">Submit</button>
						<label>&nbsp;</label>
					</div>
				</form>				
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>