<div class="row" style="margin-left: 10px;">
	<div class="col-xs-16 col-md-12">
		<p style="font-size: 160%;">Edit Profile</p>
		<hr/>
		<p style="font-size: 140%;">Merging Compains</p>
	</div>
</div>

<div class="row" style="margin-left: 10px;">
	<div class="col-xs-7 col-md-5">
		<p style="font-size: 120%;">DoubleClieck Bid Manager Campaings</p>
		<hr/>
		
		<div class="checkbox">
			<label> <input type="checkbox" />
			Campaing 1
			</label>
		</div>
		
		<div class="checkbox">
			<label> <input type="checkbox" />
			Campaing 2
			</label>
		</div>
		
	</div>
	
	<div class="col-xs-2 col-md-2">
	
	</div>

	<div class="col-xs-7 col-md-5">
		<p style="font-size: 120%;">DoubleClieck Bid Publisher Campaings</p>
		<hr/>
		
		<div class="checkbox">
			<label> <input type="checkbox" />
			Campaing 1
			</label>
		</div>
		
		<div class="checkbox">
			<label> <input type="checkbox" />
			Campaing 2
			</label>
		</div>
		
	</div>
	
</div>

<div class="row" style="margin-left: 10px;">
	<div class="col-xs-14 col-md-10">
	</div>
	<div class="col-xs-2 col-md-2">
		<button data-toggle="modal" data-target="#campainsMerger" class="btn">Merge Selected Campaings</button>
	</div>
</div>