<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="index.html" id="logo"><img src="img/logo.png" alt="Computing for Kids Logo" /></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--a class="navbar-brand" href="#">Brand</a-->
                    <a class="navbar-brand active" href="#/">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- li><a href="index.html#filter=.news">News</a></li-->
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown">Kurse<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/courses/kids">Kinder</a></li>
                                <li><a href="#/courses/teachers">Lehrer</a></li>
                            </ul>
                        </li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li ng-show="!authenticated"><a id="loginBtn" href="" data-toggle="modal" data-target="#modalLogin">Login</a></li>
                      <li ng-show="authenticated"><a id="logoutBtn" href="" ng-click="logout()">Sign Out</a></li>        
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>                    
    </div>
</div>